.list-group.tweets
  div ng-repeat="favourite in favourites"
    div ng-if="favourite.type == 'user'" ng-include="'users/user.html'" ng-init="user = favourite"
    div ng-if="favourite.type == 'tweet'" ng-include="'tweets/tweet.html'" ng-init="tweet = favourite"
