default: &default
  adapter: postgresql
  pool: 5

development:
  <<: *default
  host: localhost
  database: twitter_dev
  username: postgres
  password: 1234

test:
  adapter: sqlite3
  database: ":memory:"

production:
  <<: *default
  database: twitter_prod
